<template #editModal let-c="close" let-d="dismiss">
  <ddl-circle-edit-modal [circle]="circle" [close]="c" [dismiss]="d"></ddl-circle-edit-modal>
</template>
<div class="card">
  <div class="card-header">
    <span>{{circle.name}}</span>
    <a href class="pull-right" (click)="remove(); false"><i class="fa fa-trash"></i></a>
  </div>
  <div class="card-block">
    <ul class="nav nav-pills m-b">
      <li class="nav-item">
        <a href class="nav-link" [ngClass]="{active: isFriends}" (click)="showFriends(); false">Amis</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" [ngClass]="{active: isActivities}" (click)="showActivities(); false">Activités</a>
      </li>
    </ul>
    <div>
      <table class="table table-striped" *ngIf="isFriends">
        <tr [hidden]="members.length">
          <td>Aucun ami dans ce cercle</td>
        </tr>
        <tr *ngFor="let member of members">
          <td class="vcenter">{{member.email}}</td>
          <td class="text-right">
            <button class="btn btn-link btn-sm" (click)="removeUser(member)"><i class="fa fa-minus"></i></button>
          </td>
        </tr>
      </table>
      <table class="table table-striped" *ngIf="isActivities">
        <tr [hidden]="circle.activities.length">
          <td>Aucune activité dans ce cercle</td>
        </tr>
        <tr *ngFor="let activity of circles.activities">
          <td>{{activity}}</td>
        </tr>
      </table>
      <button class="btn btn-secondary" (click)="open(editModal)"><i class="fa fa-fw fa-user-plus"></i>Ajouter
      </button>
      <button class="btn btn-secondary"><i class="fa fa-fw fa-child"></i>Ajouter</button>
      <button class="btn btn-primary pull-right"><i class="fa fa-fw fa-calendar-plus-o"></i>Proposer</button>
    </div>
  </div>
</div>
