<modal-confirm #deleteConfim title="Suppression de {{circle.name}}"
               content="Etes-vous sûr de vouloir supprimer {{circle.name}} ?"></modal-confirm>
<div class="card">
  <div class="card-header with-nav">
    <strong class="card-text">{{circle.name}}</strong>
    <a href class="card-text pull-right" [modalOpen]="deleteConfim" (onClose)="remove()"><i class="fa fa-trash"></i></a>
  </div>
  <div class="card-block">
    <div>
      <table class="table">
        <tbody>
        <tr *ngIf="!members.length">
          <td>Aucun ami dans ce cercle</td>
        </tr>
        <tr *ngFor="let member of members">
          <td>{{member.email}}</td>
          <td class="text-xs-right">
            <button class="btn btn-link btn-sm" (click)="removeUser(member)"><i class="fa fa-times"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <ddl-circle-edit-modal #circleEdit [circle]="circle"></ddl-circle-edit-modal>
      <button class="btn btn-secondary" [modalOpen]="circleEdit" (onClose)="circle = $event"><i
        class="fa fa-fw fa-user-plus"></i>Ajouter
      </button>
      <button class="btn btn-primary pull-right"><i class="fa fa-fw fa-calendar-plus-o"></i></button>
    </div>
  </div>
</div>
