//
// Typography
// --------------------------------------------------

// Brand
// -------------------------

.text-brand {
  font-family: $brand-font-family;
}

// Headings
// -------------------------
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($line-height-computed / 2);
  margin-bottom: $line-height-computed;
}
