//
// Panels
// --------------------------------------------------

// Base class
.card {
  border: none;
  border-radius: 0;
  @include box-shadow(0 5px 8px rgba(0, 0, 0, .1));
}

.card-flat {
  @include box-shadow(none);
}

.card-header {
  font-family: $card-header-font-family;
}

.card-ternary {
  background-color: $brand-ternary;
}
