//
// Panels
// --------------------------------------------------

// Base class
.card {
  border: none;
  border-radius: 0;
  @include box-shadow($card-box-shadow);
}

.card-flat {
  @include box-shadow(none);
}

.card-header {
  font-family: $card-header-font-family;

  &.with-nav {
    padding: 0;

    .card-text {
      display: inline-block;
      padding: $nav-link-padding;
    }

    .nav {
      float: right;
    }
  }
}

.card-ternary {
  background-color: $brand-ternary;
}
