//
// Typography
// --------------------------------------------------

// Brand
// -------------------------

.text-brand {
  font-family: $brand-font-family;
}

// Headings
// -------------------------
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: ($headings-margin-bottom / 2);
  margin-bottom: $headings-margin-bottom;
}
