$enable-rounded:            false;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;

$brand-primary: #FF6363;
$brand-secondary: #FFE481;
$brand-ternary: #FFDA54;
$brand-font-family: 'Pacifico', cursive;

$body-bg: $brand-secondary;

$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: inherit;

$powered-by-height: 10rem;

$btn-primary-border: $brand-primary;

$input-border-radius-large: 0;

$card-header-font-family: $headings-font-family;
$card-box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .1);

$navbar-light-brand-color: #000;
$navbar-light-color: #000;
$navbar-light-hover-color: $brand-primary;
$navbar-light-active-color: $brand-primary;
