$brand-primary: #FF6363;
$brand-secondary: #FFE481;
$brand-ternary: #FFDA54;
$brand-font-family: 'Pacifico', cursive;

$body-bg: $brand-secondary;

$font-family-sans-serif: 'Montserrat', sans-serif;
$headings-font-family: inherit;

$powered-by-height: 10rem;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
$btn-primary-border: $brand-primary;

$input-border-radius-large: 0;

$card-header-font-family: $headings-font-family;

$navbar-light-brand-color: #000;
$navbar-light-color: #000;
$navbar-light-hover-color: $brand-primary;
$navbar-light-active-color: $brand-primary;
